MoogleCrawler/resources/GamestarXSD.xml

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://search.yahoo.com/mrss/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="content">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="thumbnail">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:anyURI" name="url" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="title"/>
        <xs:element type="xs:string" name="description" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="medium" use="optional"/>
      <xs:attribute type="xs:anyURI" name="url" use="optional"/>
    </xs:complexType>
  </xs:element>
</xs:schema>