MoogleCrawler/resources/GolemXSD.xml

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="url" type="xs:string"/>
  <xs:element name="title" type="xs:string"/>
  <xs:element name="link" type="xs:string"/>
  <xs:element name="description" type="xs:string"/>
  <xs:element name="comments" type="xs:string"/>
  <xs:element name="pubDate" type="xs:string"/>
  <xs:element name="guid" type="xs:string"/>
  <xs:element name="lastBuildDate" type="xs:string"/>
  <xs:element name="generator" type="xs:string"/>
  <xs:element name="image">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="url"/>
        <xs:element ref="title"/>
        <xs:element ref="link"/>
        <xs:element ref="description"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="language" type="xs:string"/>
  <xs:element name="item">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="title"/>
        <xs:element ref="link"/>
        <xs:element ref="description"/>
        <xs:element ref="comments"/>
        <xs:element ref="pubDate"/>
        <xs:element ref="guid"/>
        <xs:element ref="con:encoded" xmlns:con="http://purl.org/rss/1.0/modules/content/"/>
        <xs:element ref="slas:comments" xmlns:slas="http://purl.org/rss/1.0/modules/slash/"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="channel">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="title"/>
        <xs:element ref="description"/>
        <xs:element ref="link"/>
        <xs:element ref="atom:link" xmlns:atom="http://www.w3.org/2005/Atom"/>
        <xs:element ref="lastBuildDate"/>
        <xs:element ref="generator"/>
        <xs:element ref="image"/>
        <xs:element ref="language"/>
        <xs:element ref="item" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="rss">
    <xs:annotation>
      <xs:documentation>generator="FeedCreator 1.6"</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="channel"/>
      </xs:sequence>
      <xs:attribute type="xs:float" name="version"/>
    </xs:complexType>
  </xs:element>
</xs:schema>