MoogleCrawler/resources/IgnXSD.xml

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="title" type="xs:string"/>
  <xs:element name="link" type="xs:anyURI"/>
  <xs:element name="description" type="xs:string"/>
  <xs:element name="pubDate" type="xs:string"/>
  <xs:element name="comments" type="xs:anyURI"/>
  <xs:element name="guid" type="xs:anyURI"/>
  <xs:element name="enclosure">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:anyURI" name="url" use="optional"/>
          <xs:attribute type="xs:int" name="length" use="optional"/>
          <xs:attribute type="xs:string" name="type" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="category" type="xs:string"/>
  <xs:element name="language" type="xs:string"/>
  <xs:element name="lastBuildDate" type="xs:string"/>
  <xs:element name="item">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="title"/>
        <xs:element ref="link"/>
        <xs:element ref="description"/>
        <xs:element ref="pubDate"/>
        <xs:element ref="comments"/>
        <xs:element ref="guid"/>
        <xs:element ref="enclosure" minOccurs="0"/>
        <xs:element ref="category" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="channel">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="title"/>
        <xs:element ref="link"/>
        <xs:element ref="description"/>
        <xs:element ref="atom:link" xmlns:atom="http://www.w3.org/2005/Atom"/>
        <xs:element ref="language"/>
        <xs:element ref="lastBuildDate"/>
        <xs:element ref="item" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="rss">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="channel"/>
      </xs:sequence>
      <xs:attribute type="xs:float" name="version"/>
    </xs:complexType>
  </xs:element>
</xs:schema>